* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background: #000;
}

.container {
  height: 100vh;

  position: relative;

  overflow: hidden;
}

.row {
  display: inline-flex;
  margin-left: -78px;
  margin-top: -32px;
}

.row:nth-child(even) {
  margin-left: -27px;
}

.hexagon {
  position: relative;
  height: 110px;
  width: 100px;
  background-color: #111;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 3s;
  z-index: 10;

  color: white;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hexagon:hover {
  transition: background-color 0s;
  background-color: #7900ff;
}

.hexagon div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 22px rgba(255, 255, 255, 0.3);
  user-select: none;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.5);
}

.hexagon div *,
.hexagon span {
  word-spacing: 100vw;
  user-select: none;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
}

.hexagon.open {
  transition: transform 0.3s;
  transform: scale(4);
  z-index: 100;
  cursor: pointer;
  animation: none;
  background-color: #111;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
